<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vampire Masquarade M5</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    
    <link href="../../scss/main.css" rel="stylesheet">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>   
</head>
<body id="mainStyle">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 mb-5">Vampire Masquarade M5 Helper</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Mes vampires</h3>
                <div id="vampires-list" class="d-flex justify-content-center">


                    <div id="new-vampire" class="card">
                        <div class="card-body">
                          <h5 class="card-title">Nouveau</h5>
                          <p class="card-text">cliquer pour créer</p>
                        </div>
                      </div>


                </div>
            </div>
        </div>
    </div>
    <script>
        window.jquery = window.$ = require('jquery');
        require('bootstrap');
    </script>
    <script src="m5.js"></script>
</body>
</html>
